
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Referral SaaSquatch Black Theme</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  	<script src="{{assets "javascripts/ZeroClipboard.min.js"}}"></script>
  	
  	<link rel="stylesheet" media="all" href="{{assets "css/theme.css"}}">
  	
  	{{squatchHead}}
  	
	
  </head>

  <body>
  
    <div class="">


      <div class="panel panel-default">
        <div class="panel-heading">Your profile</div>
        <div class="panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                  {{>gravatar user}}
              </a>
              <div class="media-body">
                <h4 class="media-heading">Hello {{user.firstName}}!</h4>
                <p>You have so far referred {{referrals.length}} people.</p>
            
                <p>Have some friends to invite? Share your referral code <b>{{user.referralCode}}</b> or use your unique link</p>
                <input type="text" value="{{shareLinks.shareLink}}" readonly class="form-control" />
            
              </div>
            </div>
        </div>
      </div>


      <script type="text/javascript">
        trigger
        $('.small-avatar').popover(
          {
            trigger: 'hover',
            placement: 'top'
        })
      </script>
      <div class="panel panel-default">
        <div class="panel-heading">Your referrals</div>
        <div class="panel-body">
          <ul>
          {{#each referrals}}
              <li class="examplereferred">
              
              	<a href="#" class="small-avatar" data-content="{{referredUser.firstName}} {{referredUser.lastName}}">
              	    {{>gravatar referredUser}}
              	</a>
              	
              	
              	<div class="hover" style="display: none;">
              		<a href="#" class="avatar">
                	    {{>gravatar referredUser}}
              		</a>
              		<h3>{{referredUser.firstName}} {{referredUser.lastName}}</h3>
              		<p>
              			{{#if paid}}Paid {{/if}}User since {{dateReferred}}
              		</p>
              		{{#unless paid}}
              		    <a class="remind grey" target="_blank" data-address="{{referredUser.email}}">Remind Your Friend!</a>
              	  {{/unless}}
              	</div>
              </li>
      		{{/each}}
          </ul>
        </div>
      </div>

      {{>debug}}
        
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{assets "libs/bootstrap3/js/bootstrap.min.js"}}"></script>
  </body>
</html>
